@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{

    display: flex;
    justify-content: center;
    align-items: center;    
    background-image: linear-gradient(to bottom,#EAD8F2,#9305F2, #D7AEF2, #AD82D9);
    background-attachment: fixed;
    min-height: 100vh;
}
.img{
    height: 90px;
    justify-content: center;
}
.container{
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    color:#0D0D0D;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(50px);
}
.container h1{
    font-size: 36px;
    text-align: center;

}
.input-box {
    position: relative;
    width: 100%;
    height: 45px;
    margin: 30px 0px;
}
.input-box input{
    width: 70%;
    height: 70%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: #0D0D0D;
    padding: 20px 45px 20px 20px;


}
.input-box input::placeholder{

    color: #0D0D0D;


}
.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    font-size: 20px;

}
.remember-forgot{
    display: flex;
    justify-content: space-between;
    margin: 50px 15px 30px;

}
.remember-forgot label input{

    accent-color: #fff;
    margin-right: 5px;
}.remember-forgot a{
    text-decoration: none;
    color: #0D0D0D;

}

.remember-forgot a:hover{
    text-decoration: underline;
}
.login{
    width: 100%;
    height: 50px;
    background-color: #EAD8F2;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #0D0D0D;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    margin-top: 20px;
}
.login:hover {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: #0D0D0D;
    transition: 0.5s;
}.registre-se{
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;

}
.registre-se a{
    text-decoration: none;
    color: #0D0D0D;
    font-weight: 600;
}
.registre-se a:hover{
    text-decoration:underline ;
}

.container__apresentacao {
    width: 70%;
    height: 70%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: #0D0D0D;
    padding: 20px 45px 20px 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    text-align: center;
    transform: translate(-50%, -50%);
    
}

.button {
    text-decoration: none;
    background-color: #EAD8F2;
    color: #0D0D0D;
    width: 600px;
    height: 50px;
    border: none;
    border-radius: 40px;
    font-size: 24px;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    margin-top: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button:hover {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: #0D0D0D;
    transition: 0.5s;
}